/*
* TODO make it so that visited links to not have highlighting.
* TODO make it so that hovering over a box makes it change color. AKA nice navigation.
* TODO Pick a whole new color scheme
*/


    body {
        background-color: #0B61A4;
        font-family: sans-serif;
    }


    #wrapper {
        background-color: #3F92D2;
        margin-left: auto;
        margin-right: auto;
        width: 805px;
        border-radius: 3px;
        overflow: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    
    
    #tablewrapper {
    	width: 80%;
    	        
      }
    
    #tablewrapper tr {
    	background-color: none;
    }
    
    #navbar {
    	float: left;
    	/*border for hacking*/
    	border: 1px solid black;
     	clear: right; 
     	width: 210px;
     	
    }
    
    #navbar li {
    	list-style-type: none;
    	padding: 10px;
    	font-size: 20px;
    }
    
    #header {
    	/*border for hacking*/
    	border: 1px solid black;
    	background-image: url('SB_logo_white.png');
    	height: 150px;
    	background-repeat: no-repeat;
    }

    .navitem {
    	
    }

	.htag {
		margin: 25px 10px 15px;
		padding: 0 20px;
	}
    .content {
        background-color: #AAAFFA;
        overflow: auto;
        margin: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    
    .contentwrapper {
    	clear: right;
    	overflow: auto;
    	/*border for hacking*/
    	border: 1px solid black;
    }

    .tinyfont {
        font-size: .5em;
    }
    
    a:link {
    	text-decoration: none;
    }

	a:visited {
    	text-decoration: none;
    	color: black;
    }

    a:hover {
    	
    }
    
    a:active {
    	text-decoration: none;
    }

    h1 {
        padding-right: 5px;
        text-align: right;
        margin: 68px 10px 0px;
        font-size:5.0em;
        opacity: .8;

    }
        
    img {

    }

    p {
        margin: 5px;
        padding: 10px;
    }

    table {
        font-size: .8em;
        width: 100%;
        border: 1px black;
        margin: auto;
        border-spacing: 0;
    }

    td, th {
        padding: 5px;
    }

    tr:nth-of-type(odd) {
        background-color: #85A6C0;
    }

    tr:nth-of-type(even) {
        background-color: #85ADC0;
    }

/*

         border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
 */
