    body {
        background-color: #0B61A4;
        font-family: sans-serif;
    }

    #wrapper {
        background-color: #3F92D2;
        margin-left: auto;
        margin-right: auto;
        width: 805px;
        border-radius: 3px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    
    #navbar {
    	float: left;
    	/*border for hacking*/
    	border: 1px solid black;
     	height:auto !important;
     	clear: right; 
    }
    
    #header {
    	/*border for hacking*/
    	border: 1px solid black;
    	background-image: url('SB_logo_white.png');
    	height: 150px;
    	background-repeat: no-repeat;
    }

    h1 {
        padding-right: 5px;
        text-align: right;
        margin: 68px 10px 0px;
        font-size:5.0em;
        opacity: .8;

    }

    .content {
        background-color: #66A3D2;
        overflow: auto;
        margin: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    
    .contentwrapper {
    	clear: right;
    	overflow: auto;
    	/*border for hacking*/
    	border: 1px solid black;
    }

    img {

    }

    p {
        margin: 5px;
        padding: 10px;
    }

    table {
        font-size: .8em;
        width: 100%;
        border: 1px black;
        margin: auto;
        border-spacing: 0;
    }

    td, th {
        padding: 5px;
    }

    tr:nth-of-type(odd) {
        background-color: #85A6C0;
    }

    tr:nth-of-type(even) {
        background-color: #85ADC0;
    }
    .tinyfont {
        font-size: .5em;
    }

/*

         border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
 */
